* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 5vh;
  border: solid 2px black;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(65, 35, 94);
  color: rgb(215, 231, 237);
}

.title {
  display: flex;
  flex-direction: row;
  align-self: start;
  padding-left: 3vh;
  padding-top: 3vh;
}

.content {
  display: flex;
  background-image: url(../src/img/cat.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: bottom;
  background-position-x: right;
  flex-direction: row;
  padding-left: 10vh;
  padding-top: 7vh;
  align-items: flex-start;
  gap: 100px;
  border: 2px solid  rgb(155, 220, 248);
  box-shadow: 6px 5px rgb(160, 164, 164);
  border-radius: 10px;
}

.board-section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.score-board {
  display: flex;
  flex-direction: column;
}

.board-refresh-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}

.board-submit-btn button {
  font-size: 15px;
  border: 2px solid black;
  margin-top: 5vh;
}

form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  padding-right: 50px;
}

.board-table {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(91, 88, 88);
  margin-top: 4vh;
  border-radius: 10px;
}

ul {
  display: flex;
  align-items: flex-start;
  list-style: none;
  flex-direction: column;
}

li {
  margin: 0;
  font-size: 20px;
  line-height: 40px;
}

a {
  text-decoration: none;
  color: black;
}

.one {
  background: darkgray;
  width: 100%;
}

.add-score {
  display: flex;
  justify-content: end;
  width: 100%;
  margin-top: 5vh;
}

.display-table-list:nth-child(even) {
  background: rgb(32, 6, 59);
  width: 100%;
}

.listscore {
  color: aliceblue;
}

.btn-refresh {
  cursor: pointer;
  border-radius: 5px;
  width: 40%;
  font-size: 1em;
  box-shadow: 3px 2px white;
}

input {
  height: 6vh;
}

.btn-submit {
  cursor: pointer;
  border-radius: 5px;
  width: 40%;
  font-size: 1em;
  box-shadow: 3px 2px white;
  align-self: center;
}
