* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 5vh;
  border: solid 2px black;
  margin-left: 20%;
  margin-right: 20%;
}

.title {
  display: flex;
  flex-direction: row;
  align-self: start;
  padding-left: 3vh;
  padding-top: 3vh;
}

.content {
  display: flex;
  flex-direction: row;
  align-self: start;
  padding-left: 10vh;
  padding-top: 7vh;
  align-items: flex-start;
}

.board-section {
  display: flex;
  gap: 100px;
}

.score-board {
  display: flex;
  flex-direction: column;
}

.board-refresh-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}

.board-refresh-btn button {
  font-size: 20px;
  border: 3px solid;
}

form {
  margin-top: 20px
}

.board-table {
  border: 1px solid rgb(26, 25, 25)
}



.add-score {
  display: flex;
  justify-content: end;
  width: 100%;
  margin-top: 5vh;
}


